.card {
  width: 150px;
  height: 250px;
  border: 1px solid #e3fdff;
  border-radius: 4px;
  transition: box-shadow 0.4s ease;
}
.movieImg {
  width: 150px;
  height: 190px;
  object-fit: cover;
}
/* .card:hover {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7);
} */

.title {
  padding-bottom: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  /* color: #0000c5; */
}
