.header {
  width: 100%;
  height: 50px;
  background: #6f7db4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid #2c49a0; */
}

.box {
  width: 100%;
  padding: 0;
}
