.box {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: row;
  row-gap: 16px;
  column-gap: 28px;
  flex-wrap: wrap;
  justify-content: center;
  scroll-behavior: smooth;
}
