body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
label {
  margin: 0;
}

p {
  overflow-wrap: anywhere;
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a,
button {
  text-decoration: none;
}
h1,
h2 {
  padding: 15px 0 15px 15px;
  font-size: 28px;
  font-weight: bold;
  /* text-align: center;
  padding-bottom: 12px; */
}
