:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-light-main-body: #ffffff;
  --color-light-second-body: #e1e1e1;
  --color-light-nav-body: #0000c5;
  --color-light-nav-text: #fff;
  --color-light-nav-text-hover: #eeff00;
  --color-light-main-text: #000;
  --color-light-second-text: #0000c5;

  --color-light-card-shadow-normal: rgba(0, 0, 0, 0.349);
  --color-light-card-shadow-hover: rgba(0, 0, 0, 0.7);

  --color-dark-main-body: #252525;
  --color-dark-second-body: #595959;
  --color-dark-nav-body: #0e3976;
  --color-dark-nav-text: #e1e1e1;
  --color-dark-nav-text-hover: #eeff00;
  --color-dark-main-text: #e1e1e1;
  --color-dark-second-text: #b1b1ff;
  --color-dark-card-shadow-normal: rgba(255, 255, 255, 0.349);
  --color-dark-card-shadow-hover: rgba(255, 255, 255, 0.7);
}
